.home {
    text-align: center;
  }
  
  .about-us {
    margin: 20px 0;
  }
  
  .image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .image-gallery img {
    max-width: 30%;
    height: auto;
  }