.projects-intro {
  text-align: center;
  margin-bottom: 30px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.project-item {
  background-color: var(--primary-dim-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px var(--primary-shadow-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-image-container {
  width: 100%;
  height: 250px; /* Fixed height for all image containers */
  overflow: hidden;
  border-radius: 8px;
  /* margin-bottom: 15px; */
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes images cover the container */
  object-position: center; /* Centers the image within the container */
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-status-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.project-status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

.project-status.ongoing {
  background-color: var(--tertiary-theme-color);
  color: var(--primary-white-color);
}

.project-status.completed {
  background-color: var(--primary-theme-color);
  color: var(--primary-white-color);
}